{% extends "layout.html" %} {% block title %} ECSA Platform {% endblock title %}
{% block content %}
<h1 class="text-center mt-4">Welcome to ECSA</h1>
<a class="btn btn-primary mb-4" href="{% url 'create_post' %}">Create Post</a>
<div class="container row gap-3">
  {% for post in posts %}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{post.user.username}}</h5>
      <p class="card-text">{{post.text}}</p>
      {% if post.user == user %}
      <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_post' post.id %}" class="btn btn-danger"
        >Delete</a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
